.divider-text:before,
.divider-text:after {
    color: white;
    content: "";
    flex: 1;
    border-bottom: 1px solid #555;
    margin: auto 0.25rem;
    box-shadow: 0 -2px;
}



html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*product details*/
.discount-badge {
    position: absolute;
    top: 10%;
    left: 5%;
    animation: bounceBadge 4s linear infinite;
}

    .discount-badge span {
        background-color: #ff6347;
        color: #fff;
        border-radius: 5px;
        padding: 5px 15px;
        font-family: Arial, sans-serif;
        font-size: 18px;
    }

@keyframes bounceBadge {
    0%, 100% {
        top: 10%;
    }

    50% {
        top: 20%;
    }
}

